body {
    background-color: black;
}
.scoreboard {
    float:  left;
    margin-bottom:10px;
}
.crystalsClass {
    clear:both;
}
.text-left{
    margin:0px;
    font-weight: bold;
    color:white;
}
.gameNumber {
    float:left;
    height: 100px;
    width: 150px;
    color:white;
    border:5px solid blue;
}
.gameScore {
    float:left;
    margin-left: 20px;
    height: 100px;
    width: 150px;
    color:white;
    border:5px solid blue;
}
.WonLossTotal {
    float:left;
    margin-left:20px;
    height: 100px;
    width: 150px;
    color:white;
    border:5px solid blue;
}
.jumbotron {
    margin-top:10px;
    margin-bottom:10px;
    background-color: purple;
    color: white;
}

.gameNbr,.gameScr {
    font-size: 40px;
    text-align: center;
}
.wins,.losses {
    font-size: 20px;
    text-align: center;
}
#c1,#c2,#c3,#c4 {
    margin-right: 20px;
    border-radius: 15px 15px 15px 15px;
}
.messages {
    float:left;
    margin-left:20px;
    height: 100px;
    width: 300px;
    color:white;
    /* border:5px solid blue; */
}
.sound {
    display:none;
}
